/* =============
    Demo
============= */

#svg-demo {
    display: grid;
    grid-template-columns: auto 75% auto;
    grid-template-areas: ". svg .";
    padding-top: 50px;
    background-color: black;

    >div {
        grid-area: svg;
        // border: 3px solid aqua;
        display: flex;
        justify-content: center;
        align-items: center;
        //height: 100%;

        svg {
            // border:3px solid #000;
            // width: 100%;

            g {
                g {
                    // #circle {
                    //     // display: none;
                    //     visibility: hidden;
                    // }

                    // #check {
                    //     // display: none;
                    //     visibility: hidden;
                    // }

                    #play{
                        visibility: hidden;
                    }

                    #complete{
                        visibility: hidden;
                    }

                    #oval-three{
                        z-index: 100;
                    }
                }
            }
        }
    }
}